<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @rh21_status.status %>
</p>

<%= link_to 'Edit', edit_rh21_status_path(@rh21_status) %> |
<%= link_to 'Back', rh21_statuses_path %>
