<div class="fixed-action-btn">
  <a id="upload" class="btn-floating btn-large waves-effect waves-light orange accent-4" href="/gr_fileserver_contents/new" >
    <i class="material-icons">add</i>
  </a>
</div>


