<h1>Editing Gr Fileserver Content</h1>

<%= render 'form', gr_fileserver_content: @gr_fileserver_content %>

<%= link_to 'Show', @gr_fileserver_content %> |
<%= link_to 'Back', gr_fileserver_contents_path %>
