<h1>File Detaile</h1>

<%= render 'update', gr_fileserver_content: @gr_fileserver_content %>

<%= link_to 'Download', :action => :download, :id => @gr_fileserver_content %> |
<%= link_to 'Back', gr_fileserver_contents_path %>
