<div class="container-fluid">
  <div class="row">
    <h1>Rh21Qpage#index</h1>
    <p>Find me in app/views/rh21_qpage/index.html.erb</p>
    <div class="row">
      <div class="col-md-8"><input type="text" id="text_search" name="text_search" class="form-control" /></div>
      <div class="col-md-4">.col-md-4</div>
    </div>
    <!-- <form role="form-horizontal">
      <div class="form-group form-group-lg">
        <div class="col-sm-10">
          <input class="form-control" type="text" id="form_text_search" placeholder="Large input">
        </div>
      </div>
    </form> -->
    <form role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
      </div>

      <input type="submit" value="Login" />
      <input type="button" value="Cancel" />
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <section class="content">
      <h1>QPage!</h1>
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <tr>
                    <td class="border-0">
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <span>June 15, 2017</span>
                          <h4 class="title">
                            Question 1
                          </h4>
                          <p class="summary">Here is your question summary</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-0">
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <span>June 13, 2017</span>
                          <h4 class="title">
                            Question 2
                          </h4>
                          <p class="summary">Here is your question summary</p>
                        </div>
                      </div>
                    </td>
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
