<% menu_items = [
  { :link => root_path, :name => 'Top Page' },
  { :link => chat_index_path, :name => 'Chat Sample' },
  { :link => 'https://www.ruby-lang.org/en/', :name => 'ruby Official Site' },
  ] -%>
<div class="nav nav-list">
  <% menu_items.each_with_index do | item, index | -%>
    <% if index > 0 %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<% end -%>
    <%= menu_link_to item -%>
  <% end -%>
</div>
