<% menu_items = [
  { :link => root_path, :name => 'Top Page' },
  { :link => chat_index_path, :name => 'Chat Sample' },
  { :link => 'https://www.ruby-lang.org/en/', :name => 'ruby Official Site' },
  ] -%>
<%
  if current_user.present?
    menu_items.push( {:link => destroy_user_session_path,
        :name=>'Sign Out', :method=>'delete'})
  end
%>
<div class="btn-group">
  <% menu_items.each_with_index do | item, index | -%>
    <div class="btn btn-default">
        <%= menu_link_to item -%>
    </div>
  <% end -%>
</div>
