<h1>Scops Owl Project</h1>
This project is a tryout to develop the Ruby on Rails project,
for Hosei University's Web+DB lecture session. <br />
<h3> Lecture: "Web System Development by Ruby language." </h3>

This year, we aims to install "Chat", and "DropBox" helpers to apply to <br />
the "solution sharing" among the students,<br />
"Bus Delay" information <br />
and Chat web site, <br />
and the "search solution" portal <br />
for the "solution sharing" database.<br />

The folowing is the Jump index to each students Portal views
<h2><%= t 'app.entrance' %></h2>
<ul>
  <li><%= link_to (t '.lecturers'), ikuo_sample_path %></li>
  <li><%= link_to "Chat Sample", chat_index_path %></li>
  <li>daizu39's portal
  <li>eba's portal
  <li>GuteReise's portal
  <li>hitme's portal
  <li>okane's portal
  <li>rh21's portal
</ul>
