<h1>List of Train and Bus</h1>

<body>
	<div id="container">
		<div id="favorite">
			<ul>
			<li>Chuo Line</li>
			<li>Coco Bus</li>
			<li>Keio Bus</li>
			<li>Train(Tokyo 23 wards)  Add your favorite</li>
			<li>Bus(Tokyo 23 wards)  Add your favorite</li>
		</ul>
		</div>
	</div>
</body>
