/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import "materialize";

div#header {
  background-color: cyan;
  padding-top: 4px;
  border-top: 4px solid #6bb;
}

div#left {
  float: left;
  width: 65%;
  //background-color: white;
  padding: 6px 6px 6px 0;
}

div#right {
  float: right;
  width: 400px;
  background-color: #e0e0e0;
}

div#footer {
  //border-top: 2px lightgreen solid ;
  //text-align: center;
  clear: both;
  //width: 100%;
}

/* a {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
    background-color: #fff;
  }
} */
