// Place all the styles related to the hitme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-size: 32pt;
  margin: 50px 0px;
}

h2{
  font-size: 18pt;
}

div#left_time {
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 12pt;
  background-color: white;
  border: solid darkgray;
  vertical-align: top;
  text-align: center;
  
}

div#favorite {
  display: inline-block;
  width: 600px;
  height: 400px;
  font-size: 14pt;
  background-color: white;
  //border: solid darkgray;
  vertical-align: top;
  ul{
    font-size:14pt;
  }
}

div#map{
  width: 600px;
  height: 600px;
  background-color: white;
  margin-top: 10px;
}


