// Place all the styles related to the okane controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.chat-container{
   height: 630px;
   width: 183%;
   margin: 0;
}
.chat-header{
  background-color:#43A047;
  font-family: roboto;
  width: 100%;
  height: 80px;
}
.chat-header h1{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 36px;
  line-height: 80px;
  padding-left: 5%;
}
.chat-header h1 span{
  padding-right: 1%;
}
.chat-header h1 span:hover{
  opacity:0.5;
  cursor: pointer;
}
.chat-header h1::after{
  content: "Bus routes";
  float: right;
  padding-right: 5%;
}
.chat-body{
  height: 450px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.chat-body article{
  width: 100%;
  color: black;
  border-style:inset;
  overflow-y: scroll;
}
.chat-footer{
  overflow: hidden;
  border-style: outset;
  border-width: 1px;
  margin-bottom: 2px;
  border-color: #E8F5E9;
}
.chat-footer span{
  height: 80px;
  width: 33%;
  float: left;
  line-height: 80px;
  text-align: center;
  color: black;
  font-size: 36px;
}
.active-choice{
  border-bottom: 5px solid green;
}
.chat-footer span:hover{
  background-color: grey;
  opacity: 0.5;
  cursor: pointer;
}
.message-text{
  width: 100%;
  overflow: hidden;
}
.message-text input[type="text"]{
  height: 50px;
  width: 100%;
  font-size: 26px;
  border-radius: 5px;
  padding-right: 60px;
}
.message-text span{
  line-height: 50px;
  font-size: 24px;
  color: green;
}
.message-text span:hover{
  cursor: pointer;
  opacity: 0.5;
}
.sens-btn{
  width: 45px;
  height: 45px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 22px;
  float: right;
  position: absolute;
  margin-left: 850px;
  margin-top: 2.5px;
}
.sens-btn:hover{
  cursor: pointer;
  opacity: 0.5;
}
.short{
  height: 400px;
}
.tall{
  height: 450px;
}
/*#threads dl{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#threads dt{
  width: 100%;
  margin: 5px 0;
  display: block;
  overflow: hidden;
}
#threads dd{
  overflow: hidden;
  width: 100%;
  display: block;
  margin: 5px 0;
}
#threads p{
  margin: 0;
  padding: 2em;
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  text-align: center;
}*/
.grey{
  background-color: #FFCCBC;
}
.silver{
  background-color: #D7CCC8;
}
.border-left-curve{
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.border-right-curve{
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
#threads ul{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#threads li{
  width: 100%;
  margin: 5px 0;
  display: block;
  overflow: hidden;
}
#threads li{
  margin: 5px 0;
  padding: 2em;
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  text-align: center;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #FFCCBC;
}
