// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #00f;

  &:visited {
    color: #0f0;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
