<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @rh21_language.language %>
</p>

<%= link_to 'Edit', edit_rh21_language_path(@rh21_language) %> |
<%= link_to 'Back', rh21_languages_path %>
